body{
    font-family: 'Poppins', sans-serif;
  }
.container{
    width: 1100px;
    
    border: 1px solid black;
    background-color: black;
    color: #ffff;
    margin-top: 40px;
    margin-left: 220px;
    border-radius: 10px;
     display: flex;
     
     
    

}
.player-profile{
    width: 400px;
    padding-left: 40px;
   
}
.players-title{
  width: 400px;
  font-size: 1.8rem;
 
}
.players-detels{
    font-size: 1rem;
    font-style: italic;
    width: 400px;
}


.button-1{
    height: 50px;
    width: 160px;
    background-color: red;
    font-size: 1.2rem;
    border-radius: 20px;
    
}
#player-img{
    
    margin-left: 600px;
    margin-top: -300px;
}

.players{
    width: 330px;
    height: 430px;
}
.button-type{
    margin-top: 60px;
   margin-left: 220px;
   height: 230px;
   width: 260px;
   background-color: black;
   border-radius: 10px;
}
#Upcoming-link :hover{
    color: blue;
    background-color: red;
}

button a{
    text-decoration: none;
   
}

.button-bar{
    height: 40px;
    width: 190px;
    background-color: antiquewhite;
    border: 1px solid black;
    text-align: center;
    margin-top: 30px;
    border-radius: 20px;
    justify-content: center;
    margin-left: 40px;
    font-size: 1.2rem;

    
}
#button-bar{
   background-color: red; 
}
.main{
   margin-top: -230px;
    margin-left: 500px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-right: 130px;
   
 
   
}
.detels-p{
    
   margin-bottom: 20px;
    width: 250px;
    border-radius: 10px;
    background-color: antiquewhite;
 
}

.detels-pleyer{
    font-size: .7rem;
}
.buttons{
    
}
#btn-1{
    font-size: 1rem;
    height: 30px;
    width: 100px;
   margin-top: 20px;
   margin-left: 20px;
  
   
}
#detels{
    margin-left: 20px; 
}
.times{
    margin-left: 20px;
    
}
.Blog-Image{
    width: 250px;
}
.singel-button{
   display: none;
}
.ftteru{
    background-color: black;
    height: 400px;
    width: 100%;
}
.Goal{
    text-align: center;
    padding-top: 80px;
    font-size: 2.5rem;
    font-weight: 900;
    color: antiquewhite;
}
.Goal:hover{ 
    color: orangered;
}
.line{
    width: 800px;
    margin-left: 350px;
}
.futter{
    display: flex;
    justify-content: space-around;
}
nav ul{
    display: flex;

    
}
li a{
    padding: 0px 20px;
    font-size: 1rem;
    text-decoration: none;
    
} 



   /* -------------
     main section
   ------------ */


     .upcamin-mach {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 860px;
    margin-left: 500px;
    margin-top: -230px;
  

   }
   .mach{
    border: 1px solid black;
    width: 250px;
    height: 220px;
    background-color: beige;
    border-radius: 10px;
    margin-bottom: 30px;
    
   }
.indeaVsbangladesh{
    display: flex;
    justify-content: center;
    margin-top: 30px;
  
}
.Germany-VS-Franch{
    text-align: center;
}

.headers{
    display: flex;
    justify-content: space-around;
}
nav ul{
    display: flex;

    
}
li a{
    padding: 0px 20px;
    font-size: 1rem;
    text-decoration: none;
    
} {
    display: flex;
    justify-content: space-around;
}
nav ul{
    display: flex;

    
}
li a{
    padding: 0px 20px;
    font-size: 1rem;
    text-decoration: none;
    
}    

@media  only  screen and (max-width:688px) {

    .container{

     display: flex none;
       display: block;
       width: 290px;
       
    }
   .player-profile{
      justify-content: center;
     
     width: 100%;
    
    }
   .players-title{
       font-size: 1.2rem;
       justify-content: center;
          
        margin-left: -65px; 
    }
    .players-detels{
        justify-content: center;
        margin-left: -70px;
    }
    
   .button-1{
    margin-left: 30px; 
   }
    #player-img{
       margin-left:-40px; 
      margin-top: 100px;
    } 
    .button-type{
        margin-left: 240px;
    }
    .upcamin-mach{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-top: 40px;
        margin-left: 240px;
    }
    .ftteru{
        width: 100%;
        justify-content: center;
        margin-left: 220px;
    }
   .line{
    width: 70%;
    margin-left: 40gipx;
   }
     .nav ul{
        display:grid ;
        grid-template-columns: repeat(1,1fr);
        
    } 
} 

/*------------
tablet device 
------------- */
@media only screen and (min-width:688px) and (max-width:992px){
    .container{
        width: 100%;
        margin-left:20px;  
    } 
    #player-img{
        margin-left: 380px;
    }
    .button-type{
        background-color: #ffff;
        margin-left: 10px;
        display: flex;
    }
    .button-folder{
        display: flex;
    }
    
    .upcamin-mach{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-top: 1px;
        margin-left: 45px;
    }
    .line{
        margin-left: 40px;
        width: 700px;
    }
}


